/*----  This is where I start all css to reset --- */

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid rgb (200,200,200);
}
body {
  font-family: 'Montserrat', sans-serif;
  color: #222;

}

header, footer, section {
  padding: 5%;
}
/* Typography */
h1 {
  font-size: 4rem;
  font-weight: 900;
}
h2 {
  font-size: 2.0rem;
  font-weight: bold;

}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
p {
  font-size: .075
}
span {
  color: #DCA625
}

a{
  padding: 5%;
  color: inherit;
  text-decoration: none;
  
}

/* Modular Class - this is when you want to target a very specific function.  for ex  gettting ride of padding,
  */
.padding-none {
  padding: 0;
}
.padding-5 {
  padding: 5%;
}

.padding-bottom-5 {
  padding-bottom: 5%;
}
.padding-right-10 {
  padding-right: 10%;
}
.padding-10 {
  padding: 10%;
}

.bg-dark {
  background-color: #1b2b36;
  color: white;
}
.bg-dark h3 {
  text-align: center;

}

/* Header instructions */
header {
  background-image: url("images/leaves.jpg");
  background-color: #445A43;
  background-size: cover;
  color: white;
  text-align: center;
  min-height: 90vh;
}

.bg-pug {
  background-image: url("images/pug.jpg");
  background-size: cover;
  background-position: 50% 38%;
  min-height: 55vh;
  /* min-height: 10rem; */

}

.bg-bed {
  background-image: url("images/bed.jpg");
  background-size: cover;
  background-position: 50% 38%;
  min-height: 55vh;
}

.bg-pencils {
  background-image: url("images/pencils.jpg");
  background-color: #dca625;
  background-size: cover;
  background-position: 50% 38%;
  min-height: 100vh;
  text-align: center;


}

.bg-pencils h4 {
  font-weight: 400;
}
.bg-pencils span{
  color: white;

}

.quotation_mark {
  font-size: 4rem;
  font-weight: 900;
}

.text-right {
  text-align: right;

}

.author {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 0.8rem;
  text-align: right;
  color: grey;
}

/* Form and inputs are elements and therefore no "full stop" is required before this command */
 input, textarea {
  width: 100%;
  resize: none;
  padding: 2%;
  margin-bottom: 1%;
  font-size: 1.7rem;
  font-family: 'Montserrat', sans-serif;
}

.contact-button {
  background-color: #DCA625;
  border: 1px solid #DCA625;
  color: #fff;
  transition: 2s;
}

.contact-button:hover {
  background-color: #fff;
  color: black;

}


.contact-form {
  border: 1px aolis #eee;
  padding: 2%;
  background-color: #1b2b36;
}

.contact-input input {
 background-color: #ffff;
 width:200px;
}

footer span {
  display: block;
}
.icon {
  font-size: 4rem;

}
.center {
  text-align: center;
  margin-bottom: 10%;
}
.text-weight {
  font-weight: 400;
}
::placeholder {
  font-size: 1.7rem;
}

@media (max-width:576px) {
  .mob-flip {
    flex-direction: column-reverse;
  }
}

.burger-button {
  position:fixed;
  top: 2vh;
  right: 2vh;
  z-index: 9;
  padding: 8px;
}
/*this is where you can chand the color of the buttons*/
.burger-button span{
  width: 40px;
  border: 2px solid black;
  background-color: black;
  display: block;
  border-radius: 22px;
  transition: 2s;
}
.burger-button.active span{
  border-color: green;
  background-color:#383;
}

.burger-top, .burger-bottom{
  position: absolute;
}

.burger-top{
  top: -02px;
}

.burger-bottom{
  bottom: -02px;
}
/* make sure this has the same top as the burger button has padding*/
.burger-button.active .burger-top{
  position: absolute;
  top: 8px;
  transform: rotateZ(45deg);
}

.burger-button.active .burger-middle{
/*   transform: rotateZ(270deg); */
  border-color: rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
}

/* make sure this has the same bottom as the burger button has padding*/

.burger-button.active .burger-bottom{
  position: absolute;
  bottom: 8px;
  transform: rotateZ(-45deg);
}


.burger-menu {
    display: none;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: #f9f9f9;
    padding:5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 8;
}

.burger-menu a {
  text-decoration: none;
  padding: 15px 11px;
  font-size: 20px;
  font-weight: 300;
  color: #C3BFBC;
  font-family: 'Alegreya Sans SC', sans-serif;
  display:block;
  padding:5px 15px;
  text-align:center;
  white-space:nowrap;
}

.burger-menu li{list-style:none}
/*
.dropdown-nav:hover .dropdown-content {
    display: block;
} */
